#intro{
    min-height: 170px;

    .contact-title{
        margin-bottom: 1rem;
        b{
            font-size: 35px;
            text-align: center;
        }
    }
    .contact-description{
        p{
            font-size: 14px;
            text-align: center;
            color: #7b7b93;
        }
    }
}