* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a {
        color: #7b7b93;
        text-decoration: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13px;

        &:hover {
            color: #606070;
        }
    }
}

.preloader {
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    display: flex;
    user-select: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
}

body {
    overflow: hidden;
}


#intro {
    .second-slider {
        .title {
            left: 8%;
            top: 15%;

            h2 {
                width: 75%;
                color: #fff;
                font-size: 3.3vw;
                font-weight: bold;
                user-select: none;
            }
        }

        .subtitle {
            left: 8%;
            bottom: 45%;

            p {
                width: 55%;
                color: #fff;
                font-size: 1.2vw;
                user-select: none;
            }
        }

        .button-wrap {
            left: 8%;
            bottom: 20%;

            .button {
                display: flex;
                color: black;
                padding: 1vw 3vw;
                font-size: 1.1vw;
                align-items: center;
                border-radius: 50px;
                justify-content: center;
                background-color: #fff;
            }
        }

        .image {
            right: 8.7%;
            bottom: 19%;

            img {
                height: 22.6vw;
            }
        }
    }
}

#how-works {
    .how-works-title {
        display: flex;
        justify-content: center;
        font-size: 35px;
        margin-top: 3rem;
    }

    .card-wrap {
        .card {
            transition: .3s ease-in-out;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;


            &:hover {
                box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.08);
                border-radius: 20px;
            }

            img {
                margin-top: 16px;
                width: 80px;
            }



            .card-title {
                margin-top: 16px;
            }

            .card-text {
                font-size: 14px;
                color: grey;
            }

            a {
                color: #00a8e6;

                &:hover {
                    color: #fd475d;
                }
            }
        }
    }
}

#calculator {
    padding: 5rem 2rem;

    b {
        display: flex;
        align-items: center;
        font-size: 35px;
        justify-content: center;
    }

    .calculator {
        background-image: url(/assets/imgs/rates/calc_circle.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        .col-12 {
            select {
                cursor: pointer;
            }

            .country {
                justify-content: center;
                margin-bottom: 2rem;

                select {
                    font-size: 14px;
                    width: 73%;
                    padding: 8px;
                    height: 50px;
                    border: 0;
                    border-radius: 10px;
                    background-color: white !important;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }

            .method-type {
                justify-content: center;
                gap: 20px;
                margin-bottom: 2rem;

                select {
                    width: 35%;
                    padding: 8px;
                    height: 50px;
                    border: 0;
                    border-radius: 10px;
                    background-color: white !important;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                    font-size: 14px;
                }
            }

            .dimensions {
                justify-content: center;
                margin-bottom: 2rem;

                input {
                    width: 29%;
                    padding: 5px 15px;
                    height: 50px;
                    border: 0;
                    color: #7b7b93;
                    border-radius: 10px 0px 0px 10px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    &:focus-visible {
                        outline: none;
                    }
                }

                div {
                    width: 45px;
                    height: 50px;
                    display: flex;
                    border-radius: 0px 10px 10px 0px;
                    justify-content: center;
                    align-items: center;
                    background-color: #faead5;
                    color: #959494;
                    box-shadow: 10px 0px 50px -10px rgba(100, 100, 111);
                }

                .div-1 {
                    margin-right: 1.25rem;
                }
            }

            .btn-wrap {
                margin-bottom: 1rem;

                .calculate {
                    background-color: #fd475d;
                    padding: .85rem 3.5rem;
                    border-radius: 10px;
                    color: white;
                    transition: 0.2s;

                    &:hover {
                        transform: translate(0%, -1%);
                        box-shadow: 0px 2px 5px 1px #8D8D8D;
                    }

                    &:active {
                        transform: translate(0%, 2%);
                        box-shadow: none;
                    }
                }
            }

            .result {
                b {
                    font-size: 28px;

                    &::before {
                        content: "$ ";
                    }
                }
            }
        }
    }

    .texts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 9rem;

        .text-title {
            margin-bottom: 1rem;

            b {
                font-size: 35px;
            }
        }

        .text-content {
            p {
                text-align: justify;
                font-size: 15px;
                color: #7b7b93;
            }
        }
    }
}

#delivery {
    background-color: #fef5e9;
    padding: 3rem 1rem;

    .deli-title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        b {
            font-size: 35px;
        }
    }

    .location {
        margin-bottom: 2rem;
        gap: 1.5rem;

        a {
            padding: 7px 20px;
            font-size: 17px;
            border-radius: 5px;
            transition: .2s ease-in-out;

            &:hover {
                background-color: #fd475d;
                border-radius: 5px;
                color: white;
            }
        }

        .active {
            background-color: #fd475d;
            border-radius: 5px;
            color: white;
        }
    }

    .methods {
        gap: 2rem;
        margin-bottom: 3rem;

        a {
            font-size: 18px;
        }

        .focus {
            border-bottom: 3px solid #fd475d;
            color: black;
        }
    }

    .rate-wrapper {
        .row {
            gap: 2rem;
        }

        .rate {
            padding: 1.5rem;
            border-radius: 15px;
            flex-direction: column;
            background-color: white;
            gap: 1rem;
            transition: .4s;
            filter: drop-shadow(0px 0px 9px #d3d3d347);

            &:hover {
                scale: 103%;
            }

            .condition {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                .icon {
                    display: flex;
                    padding: .8rem;
                    border-radius: 50%;
                    background-color: #f4f4f6;
                }
            }

            .detail {
                margin-left: 4.4rem;

                .normal {
                    .title {
                        font-size: 14px;
                        color: #7b7b93;
                        margin-bottom: 1rem;
                    }

                    .price {
                        font-size: 15px;
                        font-weight: 600;

                        &::after {
                            content: "USD";
                        }
                    }
                }

                .liquid {
                    .title {
                        font-size: 14px;
                        color: #7b7b93;
                        margin-bottom: 1rem;
                    }

                    .price {
                        font-size: 15px;
                        font-weight: 600;

                        &::after {
                            content: "USD";
                        }
                    }
                }
            }
        }
    }
}

#news {
    .news-left {
        margin-top: 5rem;
        padding-bottom: 1rem;

        .news-title {
            font-size: 30px;
        }

        .news-desc {
            color: grey;
            margin-top: 1rem;
        }

        .all-news {
            a {
                color: #7b7b93;
                font-size: 16px;
                transition: .3s all ease;

                i {
                    position: absolute;
                    transform: translate(5px, 0px);
                    color: #7b7b93;
                    transition: .3s all ease;
                }

                &:hover {
                    i {
                        transform: translate(9px, 0px);
                    }
                }
            }
        }
    }

    .news-right {
        padding-top: 5rem;
        padding-bottom: 3rem;

        .card {
            min-width: 100%;
            border: 0;

            img {
                border: 1px solid #e6e6e6;
                border-bottom: 0;
                border-radius: 10px 10px 0 0;
            }

            .detail {
                padding: .5rem 1rem;
                background-color: #fdfaf6;
                border-radius: 0 0 10px 10px;
                border-top: 0;
                border: none;
                height: 75px;

                b {
                    overflow: hidden;
                    font-size: 13px;
                    color: rgba(0, 0, 0, 0.733);
                }

                span {
                    font-size: 12px;
                    color: #8c8c8c;
                }
            }

            transition: .2s ease-in-out;

            .noselect {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }

        .owl-nav {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            padding: 1.5rem 0 0 0;

            .owl-prev {
                width: 40px;
                height: 40px;
                color: grey;
                display: flex;
                font-size: 22px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: #fef5e9;

                &:hover {
                    color: #fd475d;
                }
            }

            .owl-next {
                width: 40px;
                height: 40px;
                color: grey;
                display: flex;
                font-size: 22px;
                border-radius: 60%;
                align-items: center;
                justify-content: center;
                background-color: #fef5e9;

                &:hover {
                    color: #fd475d;
                }
            }
        }
    }
}

#youtube {
    padding: 5rem 1rem;

    .youtube-header {
        color: white;
        background-color: #fd475d;
        width: 100%;
        padding: 1rem 0rem 1rem 7rem;
        border-radius: 10px 10px 0 0;
        font-size: 22px;
    }

    .youtube-body {
        padding: 3rem 0 1rem;
        display: flex;
        align-items: center;
        background-color: #f1f1f1;
        width: 100%;
        border-radius: 0 0 10px 10px;

        .videos {
            padding-left: 4rem;
            padding-right: 2rem;

            .video {
                img {
                    width: 80%;
                    border: 1px solid #e6e6e6;
                    border-bottom: 0;
                    border-radius: 10px 10px 0 0;
                    object-fit: cover !important;
                }

                .text {
                    width: 80%;
                    padding: 1rem;
                    height: 72px;
                    border: 1px solid #e6e6e6;
                    background-color: #fdfaf1;
                    border-top: 0;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }

    .y-carousel {
        display: flex;
        flex-direction: column;

        .owl-stage-outer {
            padding-left: 2rem;
        }

        .owl-nav {
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            gap: 1rem;

            .owl-prev {
                width: 40px;
                height: 40px;
                color: grey;
                display: flex;
                font-size: 22px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                background-color: #fef5e9;

                &:hover {
                    color: #fd475d;
                }
            }

            .owl-next {
                width: 40px;
                height: 40px;
                color: grey;
                display: flex;
                font-size: 22px;
                border-radius: 60%;
                align-items: center;
                justify-content: center;
                background-color: #fef5e9;

                &:hover {
                    color: #fd475d;
                }
            }
        }
    }
}

#stores {
    .container {
        padding: 2rem 2rem 5rem 1.5rem;

        .stores {
            .store {
                width: 110px;
                height: 110px;
                display: flex;
                margin-top: 2rem;
                margin-bottom: 2rem;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                margin-left: .2rem;

                img {
                    box-shadow: 0 0px 30px 5px rgba(44, 44, 81, 0.08);
                    height: 95%;
                    max-width: 95%;
                    border-radius: 50%;
                    object-fit: contain;
                    padding: 0.3rem;
                }
            }

        }
    }
}