#faq{
    // background-color: #7b7b93;
    min-height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    .faq-title{
        // background-color: red;
        b{
            font-size: 35px;
            text-align: center;
        }
    }
    .faq-description{
        min-height: 100px;
        p{
            font-size: 14px;
            text-align: center;
            color: #7b7b93;
        }
    }
    .faq{
        border-bottom: 1px solid #cecee2;
        padding-bottom: .5rem;
        margin-bottom: 2rem;
        .question-box{
            margin-bottom: 1rem;
            .num{
                font-size: 18px;
                color: #fd475d;
                margin-right: 4.4rem;
                &::before{
                    content: "#";
                }
            }
            .question{
                font-weight: 500;
                font-size: 16px;
            }
            .icon{
                cursor: pointer;
                float: right;
            }
            #close{
                display: none;
            }
        }
        .answer-box{
            .answer{
                padding-left: 6rem;
                padding-right: 2rem;
                font-size: 14px;
                a{
                    color: #fd475d;
                }
            }
        }
        .closed{
            display: none;
        }
    }
}